/*Modal xem chi tiết*/
#modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Màu nền của modal */
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    text-align: center;
}

.close-button {
    background-color: #ccc;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.close-button:hover {
    background-color: red;
}

h2 {
    color: red;
    font-size: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    margin: 10px 0;
    border: none;
    border-top: 1px solid #ccc;
}